.widget {
  &__icon {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    background-color: var(--elna-primary-color);
    padding: 0.25rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06),
      0 2px 32px 0 rgba(0, 0, 0, 0.16);
    transition: transform 167ms cubic-bezier(0.33, 0, 0, 1);
    box-sizing: content-box;

    &:hover {
      transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
      transform: scale(1.1);
    }

    &__img {
      width: 30px;
      height: 30px;
    }
  }

  &__box {
    margin: 0 30px;
    z-index: 2500;
    position: fixed;
    bottom: 0;
    right: 0;
    transform-origin: right bottom;
    height: min(700px, 100% - 104px);
    min-height: 80px;
    width: 400px;
    max-height: 704px;
    overflow: hidden;
    opacity: 1;
    box-shadow: #00000061 0 5px 40px;
    transition: width 200ms ease 0s, height 200ms ease 0s,
      max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s,
      opacity 83ms ease-out 0s;
    pointer-events: all;
    display: flex;
    flex-direction: column;

    &--close {
      box-shadow: none;
      height: min-content;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    background-color: var(--elna-title-color);
    color: #000804;
    margin-top: auto;
    padding: 0.25rem 0.75rem;
    height: 58px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 1px solid #5ffeb8;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: #03fd8e 0 5px 20px;
    margin-left: 30px;
    margin-right: 30px;

    &__group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__image {
        max-width: 40px;
        height: auto;
        background-color: #000200;
        border-radius: 0.25rem;
      }

      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }

      &__description {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
      }
    }

    &--open {
      display: none;
    }
  }

  &__chat {
    display: block;
    overflow: hidden;
    background-color: #eff5fd;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &--close {
      display: none;
    }
  }
}
