:root{
--bs-body-font-family: "DM Sans", sans-serif;
--primary-color: #007d88;
// --primary-hover-color: #00717a;
// --primary-success: #00d67f;

// tailwind color
// --gray-100: rgb(243 244 246);
// --gray-700: rgb(55 65 81);
--green-600: rgb(22 163 74);
}